body {
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
}

header .white {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 10%;
}

.banner {
  width: 100%;
  height: auto;
}

header .white .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

header .white .right {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
}

header .white .right span {
  text-align: right;
  font: normal normal bold 12px/15px ArcherPro;
  letter-spacing: 0.18px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}

header .white .left span {
  color: #2c3a2f;
  letter-spacing: 0px;
  opacity: 1;
}

header .white .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

header .dark-blue {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #033244;
  padding: 2% 10%;
}

header .dark-blue .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

header .dark-blue .left span {
  text-align: left;
  font: normal normal normal 14px/16px ArcherPro;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}

header .dark-blue .right input[type="text"] {
  background: #033244 0% 0% no-repeat padding-box;
  border: 1px solid #00aeef;
  border-radius: 8px;
  opacity: 1;
  color: #b2eaff;
  text-align: left;
  font: normal normal normal 14px/16px "ArcherPro", sans-serif;
  letter-spacing: 0px;
  opacity: 0.5;
  height: 2rem;
}

header .white .right span {
  text-align: left;
  font: normal bold 12px/15px "ArcherPro", sans-serif;
  letter-spacing: 0.18px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}

header .white .right i.fa-caret-down {
  opacity: 1;
}

.service-card {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 3px 10px #00000014;
  opacity: 1;
  text-align: center;
  padding: 5% 2%;
  margin: 1%;
}

.service-card img,
.service-card h6,
.service-card span {
  margin-bottom: 1rem;
}

.service-card img {
  width: 50%;
}

.service-card h6 {
  text-align: center;
  font: normal normal 900 14px/19px "Roboto Slab";
  letter-spacing: 0px;
  color: #033244;
  opacity: 1;
}

.service-card span {
  text-align: center;
  font: normal normal 400 12px/16px "Roboto Slab";
  letter-spacing: 0px;
  color: #033244;
  opacity: 1;
}

section .right {
  width: 70%;
  padding: 0 15%;
}

button {
  background: var(--unnamed-color-71d8ff) 0% 0% no-repeat padding-box;
  background: #71d8ff 0% 0% no-repeat padding-box;
  border: 1px solid #71d8ff;
  opacity: 1;
  text-align: center;
  font: normal normal medium 15px/20px "Roboto Slab";
  letter-spacing: 0px;
  color: #000;
  opacity: 1;
  width: 150px;
  height: 40px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #033244;
  color: #ffffff;
  padding: 2% 10%;
}

footer .left {
  display: flex;
  align-items: center;
}

footer .right {
  display: flex;
  align-items: center;
}

footer span {
  margin-right: 1rem;
}

footer i {
  margin-right: 0.5rem;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin-right: 1rem;
}

footer ul li a {
  color: #ffffff;
  text-decoration: none;
}
